# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios Cap02

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1 = ['1,2,3,4,5,6,7,8,9,10'] #ok

In [3]:
print (lista1) #ok

['1,2,3,4,5,6,7,8,9,10']

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = ['objeto1', 'objeto2', 'objeto3', 'objeto4', 'objeto5'] #ok

In [5]:
print (lista2) #ok

['objeto1', 'objeto2', 'objeto3', 'objeto4', 'objeto5']

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
# string1 
super = 'iam feeling'
sonic = 'supersonic' #0,5 faltou o espaço depois do feeling para dar espaço na frase

In [14]:
string2 = super + sonic #ok

In [16]:
print (string2) #ok

iam feelingsupersonic

In [17]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1 = (1,2,2,3,4,4,4,5) #ok

In [19]:
tupla1.count(4) #ok

3

In [20]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicionario1 = {} #ok

In [21]:
print (dicionario1) #ok

{}

In [22]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario2 = {'iasmyn': 27, 'elias': 28, 'amora': 3} #ok

In [23]:
print (dicionario2) #ok

{'iasmyn': 27, 'elias': 28, 'amora': 3}

In [24]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dicionario2 ['Skol'] = 5 #ok

In [25]:
print (dicionario2) #ok

{'iasmyn': 27, 'elias': 28, 'amora': 3, 'Skol': 5}

In [26]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dicionario3 = {'pedra filosofal':1, 'camara secreta, prisioneiro de askaban':[2,3], 'ordem da fenix':5} #ok

In [27]:
print (dicionario3) #ok

{'pedra filosofal': 1, 'camara secreta, prisioneiro de askaban': [2, 3], 'ordem da fenix': 5}

In [31]:
# Exercício 9 - Crie uma lista de 4 elementos. 
# O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, 
# o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
lista4 = ['iasmyn', (1,2), {'iasmyn': 27, 'elias': 28}, 10.1] # 0,0 nao precisava dos nomes tupla e dici, bastava os itens entre
# parenteses e entre chaves
print (lista4)

['iasmyn', (1, 2), {'iasmyn': 27, 'elias': 28}, 10.1]

In [29]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI' #1,5 entendi o conceito mas como ele falou posição 1
# imaginei que fosse realmente do 1 e não que fosse do começo da frase, que no caso do python é o 0

In [32]:
frase [0:18]

'Cientista de Dados'

# nota final 9,0

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>